
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        button{
            display: inline-block;
            background-color: bisque;
            border-radius: 10px;
            border: none;
            width: 40%;
            height: 40px;
            font-weight: bold;
            cursor: pointer;
            margin: 10px; /* Add spacing between buttons */
        }
